// variables colors

// primary colors
$primary-color-green: #C1F651;
$primary-color-black: #02021D;

// secondary color
$secondary-color-steel: #75869C;
$secondary-color-white-smoke: #F2F2F2;
$secondary-color-white: #FFFFFF;

// other colors
$yellowish-green: #81D376;
$purple-mimosa: #A441EA;
$orangy-red: #F14E2E;
$none: #787878;
$reddish-orange: #FE7B1E;
$yellow: #FFDA40;
$orangy-yellow: #FDF9E3;
$blue: #353560;
$yellowish-light-green: #CCE1C0;
$dodger-blue: #3184FF;

//Grey colors
$grey-100: #F8F9FD;
$grey-200: rgba(239, 241, 248, 0.1);
$grey-300: #E3E5ED;
$grey-400: #D2D5DF;
$grey-500: rgba(183, 186, 201, 0.3);
$grey-600: #999DAE;
$grey-700: #767B92;
$grey-800: #545C7C;
$grey-900: #161F42;


// variables font sizes
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-36: 36px;
$font-size-40: 40px;
$font-size-48: 48px;
$font-size-56: 56px;
$font-size-66: 66px;
$font-size-72: 72px;
$font-size-80: 80px;
$font-size-96: 96px;

// variables font weights
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;