@import "src/assets/scss/config_variables.scss";
@import "src/assets/scss/mixin-variables.scss";

.auth-form-with-input-field {
  @include flex-gap(column, null, 32px);

  &__form {
    @include flex-gap(column, null, 24px);
  }

  &__navigator {
    display: flex;
    justify-content: space-between;

    .navigator-content {
      @include flex-gap(row, 12px);
      @include text($font-size-16, $font-weight-400, 22px, $primary-color-black);

      &__link {
        color: $primary-color-black;
        text-decoration: underline;
        transition: all 0.3s ease;

        &:hover {
          color: #545C7C;
        }
      }
    }

    .navigator-forgot {
      color: $primary-color-black;
      @include text($font-size-16, $font-weight-400, 22px, $primary-color-black);
    }
  }
}
