@import "src/assets/scss/config_variables.scss";
@import "src/assets/scss/mixin-variables.scss";

.auth {
  display: flex;
  flex-direction: column;
  margin: 80px auto;
  width: max-content;
  max-width: 470px;
  min-height: max-content;
  max-height: 666px;

  &__title {
    display: block;
    width: 470px;
    font-family: 'Noto Serif Lao', serif;
    @include text($font-size-48, $font-weight-700, 56px, $primary-color-black);
  }

}
